.itemImage{
  width: 20vw;
  padding: 10px 10px 0 10px;
}

.itemWrapper {
    text-align: center;
    background-color: #e8e9ed;
    border-radius: 5px;
    width: 95%;
    margin: auto;
}

.itemButtonRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto 50px auto;
}


.itemNameText {
    color: #17b122;
    background-color: transparent;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.itemText {
    color: #17b122;
    background-color: transparent;
    margin: 0;
    width: 50%;
    padding: 0;
}

.nameSpacer {
    width: 10px;
    height: 10px;
}

.longNameSpacer {
    width: 10px;
    height: 10px;
}

.nameWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemButton {
    background-color: #17b122;
    color: white;

    display: inline-block;
    border: none;
    border-radius: 5px;
    background-color: #17b122;
    color: white;
    padding: 0.45rem 0.8rem;
    width: 50%;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
